*, *::before, *::after {
  box-sizing: border-box;
  color: inherit;
}

body {
  /* display: flex; */
  font-size: large;
  height: 100vh;
  width: 100dvw;
  overflow: hidden;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: black;
}

a {
  text-decoration: none;
  color: #ff59d6;
}
a:hover {
  text-decoration: underline;
}

#paper {
  height: 100%;
  width: 100%;
}

span {
  text-align: center;
}

.mono-font {
  font-family: 'Courier New', Courier, monospace;
}

.overlay-center > span {
  background-color: #141414d0;
  color: white;
  border: 2px outset #e3e3e3;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  font-weight: bold;
}

button {
  padding: 0;
  margin: 0;
  width: 2.25rem;
  height: 2.25rem;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-decoration: none;
  font-size: large;
  cursor: pointer;

  background-color: #141414;
  color: white;
  border-radius: 10px;
}
button:hover {
  background-color: rgb(70, 70, 70);
  border-radius: 10px;
}

.button-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.overlay-top, .overlay-center, .overlay-bottom-center {
  position: fixed;
}
.overlay-top {
  top: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem;
}
.overlay-top-left {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.overlay-center {
  top: 50%;
  width: 100%
}
.overlay-bottom-center {
  bottom: 0;
  width: 100%
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
